/* ListItems.css */

.list-items-section {
    /* padding: 20px; Adjust section padding as needed */
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .product-list {
      justify-content: center; /* Center items on smaller screens */
    }
  }
  