.email-sub-wrapper {
    background-color: #0A0A0A;
    height: 403.8px;
    display: flex;
    flex-direction: column;
}

.email-sub {
    /* background-color: red; */
    flex: 1.5;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
}

.links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.links {
    width: 80%;
    height: 100%;
    max-width: 1160px;
    display: flex;
}

.socials-wrapper {
    position: relative;
    display: block;
    flex: 1;
}

.socials {
    position: absolute;
    right: 0;
    bottom: 52px;
    display: flex;
    width: 130px;
}

.socials a {
    padding: 0 10px;
    height: 25px;
}

.socials a img {
    height: 100%;
}

.socials a:first-child img {
    transform: scale(.8);
}

.socials a:nth-child(3) img {
    transform: scale(1.1);
}

.socials a:hover img {
    transform: scale(1.1);
}

.socials a:first-child:hover img {
    transform: scale(.9);
}

.socials a:nth-child(3):hover img {
    transform: scale(1.2);
}

.email-sub-content {
    width: 530px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.email-sub-content h1 {
    font-size: 46px;
    color: white;
    font-family: Archivo;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px 0;
    /* text-wrap: nowrap; */
}

.email-sub-content p {
    font-family: Questrial;
    font-size: 17px;
    letter-spacing: .6px;
    margin: 5px;
    color: #ffffffbf;
    text-align: center;
    display: flex;
    justify-content: center;
    /* text-wrap: nowrap; */
}

.email-sub-content form {
    /* background-color: pink; */
    margin-top: 6px;
    height: 100%;
}

.email-sub-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.email-sub-form label {
    position: relative;
    width: 72%;
}

.email-sub-form label input::placeholder {
    position: absolute;
    font-family: Questrial;
    font-size: 17px;
    top: 16px;
    left: 20px;
    letter-spacing: .6px;
    color: #ffffffbf;
    transition: all .1s;
}

.email-sub-form label input {
    width: 100%;
    height: 48px;
    border-radius: 30px;
    padding: 0 20px;
    padding-top: 10px;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .55);
    transition: box-shadow .05s ease;
}

.email-sub-form input:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .8);

}

.email-sub-form input:focus {
    box-shadow: 0 0 0 3px white;
}

.email-sub-form input:focus::placeholder {
    font-size: 10px;
    top: 6.8px;
}

.email-sub-form span {
    position: absolute;
    font-family: Questrial;
    font-size: 10px;
    top: 5px;
    left: 20px;
    letter-spacing: .6px;
    color: #ffffffbf;
    display: none;
}

.email-sub-form input:not(:placeholder-shown) + span {
    display: inline;
}

.email-sub-form button {
    position: absolute;
    width: 17px;
    right: 17%;
    transition: transform .1s;
}

.email-sub-form button:hover {
    transform: scale(1.2);
}

.follow-shop {
    flex: 1;
    position: relative;
}

.follow-shop-btn {
    color: white;
    border: 1px solid rgba(255, 255, 255, .85);
    background-color: #5433EB;
    border-radius: 20px;
    padding: 8px 10px;
    position: absolute;
    bottom: 42px;
}

.follow-shop-btn:hover {
    background-color: #7F68E9;
}

.heart-logo {
    height: 17px;
    display: inline;
}

.shop-logo {
    display: inline;
    height: 17px;
}

@media screen and (max-width: 989px) {
    .email-sub-content h1 {
        font-size: 32px;
    }
    .links {
        flex-direction: column;
    }
    .follow-shop-btn {
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, -50%);
    }
    .socials {
        right: 50%;
        bottom: 50%;
        transform: translate(50%, -50%);
    }
}