.header {
    position: sticky;
    top: -151px;
    transition: top .3s;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 151px;
    width: 100%;
    background-color: #0A0A0A;
    font-family: Questrial;
    z-index: 1;
}

.header.active {
    top: 0;
}
