.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.service-perks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 89%;
}

.service-perks div {
    /* background-color: blue; */
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-perks div h3 {
    color: black;
    font-weight: 500;
}

.service-perks div img {
    height: 50px;
}

@media screen and (max-width: 989px) {
    .service-perks {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .free-shipping {
        grid-area: 1 / 1 / 2 / 2;;
    }
    .price-match {
        grid-area: 1 / 2 / 2 / 3;
    }
    .hassle-free {
        grid-area: 2 / 1 / 3 / 2;
    }
    .reviews {
        grid-area: 2 / 2 / 3 / 3;
    }
}
@media screen and (max-width: 749px) {
    .service-perks {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 50px;

    }
    .free-shipping {
        grid-area: 1 / 1 / 2 / 2;
    }
    .price-match {
        grid-area: 2 / 1 / 3 / 2;
    }
    .hassle-free {
        grid-area: 3 / 1 / 4 / 2;
    }
    .reviews {
        grid-area: 4 / 1 / 5 / 2;
    }

}