
.utilities {
    display: flex;
    justify-content: end;
    width: 300px;
}

.login, .cart {
    width: 22px;
    display: flex;
}

.login {
    padding: 13px;
    width: 50px;
}

.cart {
    width: 50px;
    cursor: pointer;
}

.login:hover, .cart:hover {
    transform: scale(1.1);
}

.search {
    display: none;
    width: 50px;
    justify-content: right;
    align-items:end;
}

.search img {
    transform: scale(.6);
}

@media screen and (max-width: 989px) {
    .search {
        display: flex;
    }
    .dropdown-menu {
        display: none;
    }
    .utilities {
        width: 200px;
    }
}

@media screen and (max-width: 749px) {
    .login {
        display: none;
    }
}