
.utility-section {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    max-width: 1135px;
}

.header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
}

.search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    flex: 1;
    width: 24px;
}

.search-button img {
    width: 100%;
}

.utilities {
    flex: 1;
}

.utilities img {
    width: 100%;
}

