
.utility-section {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    max-width: 1135px;
}

.header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search {
    width: 300px;
    height: 100%;
    align-items: center;
    position: relative;
}

.search-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}